header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: auto;
    font-family: 'Raleway', sans-serif;
}

body
{
    font-family: 'Raleway', sans-serif;
}

#logoreservia
{
    margin-bottom: 30px;
    padding-top: 35px;
}

.inscription-input-deco
{
    font-size: 18px;
    text-decoration: none;
    color: #2478ff;
}

.header-inscription
{
    padding-right: 50px;
}

.hébergement-activités-header
{
    padding-right: 80px;
}



.selected
{
    color: #2478ff;
    border-top: 2px solid #2478ff;
    text-decoration-color: #2478ff;
    padding-top: 44px;
}


.text-decoration-input
{
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.text-decoration-input-heberg
{
    font-size: 18px;
    text-decoration: none;
    color: #2478ff;
}

.list-inscription-catégorie
{
    list-style-type: none;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
}

.catégorie-input-padding
{
    margin-right: 40px;
}

.textdeco /* :hover border-top: 3px solid blue;*/
{
    text-decoration: none;
}

main
{
    max-width: 1440px;
    margin: auto;
}

.first-title
{
    font-size: 20px;
    font-weight: bold;
}

.subtitle
{
    margin-top: 8px;
}

.search-bar
{
    padding-top: 12px;
    display: flex;
}

.search-left-marker-logo
{
    border: 2px solid #e6e6e6;
    border-radius: 10px 0px 0px 10px;
    margin-top: 0px;
    background-color: #e6e6e6;
    width: 40px;
    height: 35px;
    display: flex;
}

.search-left-marker-logo i
{
    margin: auto;
    margin-right: 13px;
}

.search-text-area
{
    height: 15px;
    padding: 10px;
    border: 2px solid #e6e6e6;
    border-right: 2px solid #2478ff;
}

.search-input-right
{
    color: white;
    background-color: #2478ff;
    border: 2px solid #2478ff;
    border-radius: 0px 10px 10px 0px;
}

.research-logo-queries
{
    visibility: hidden;
}

.logo-loupe
{
    visibility: hidden;
}

.filter-section
{
    display: flex;
    margin-top: 20px;
    padding-top: 8px;
}

.filter-title
{
    font-weight: bold;
    padding-right: 15px;
}

.catégorie-bloc
{
    margin-left: 15px;
    display: flex;
    font-weight: bold;
}

.filter-visual-effect
{
    text-decoration: none;
    color: black;
}

.grey-border-around-filter:hover
{
    border: 2px solid black;
    background-color: #f2faff;
}

.grey-border-around-filter
{
    border: 2px solid #e6e6e6;
    border-radius: 20px;
    padding-top: 6px;
    padding-bottom: 5px;
    padding-right: 15px;
    block-size: 30px;
}

.blue-logo-filter
{
    color: #2478ff;
}

.circle-around-logo
{
    border: 2px solid #d8eff2;
    border-radius: 50%;
    background-color: #d8eff2;
    padding: 6px;
    margin-bottom: 2px;
    position: relative;
    right: 3px;
}

.family-icon-circle-around
{
    border: 2px solid #d8eff2;
    border-radius: 50%;
    background-color: #d8eff2;
    padding: 6px;
    padding-right: 9px;
    padding-left: 9px;
    position: relative;
    right: 3px;
}

.number-logement-text
{
    margin-top: 25px;;
    padding-bottom: 20px;
}

.blue-info-logo
{
    color: #2478ff;
    border: 1px solid #dee0df;
    font-size: 10px;
    border-radius: 50%;
    padding: 4px;
    padding-right: 8px;
    padding-left: 8px;
}

.first-website-part
{
    display: flex;
}

.bloc-hébergement-marseille
{
    border-radius: 22px;
    border: 2px solid #f5f5f5;
    background-color: #f5f5f5;
    width: auto;
}


.title-hébergement-marseille
{
    font-weight: bold;
    margin-left: 39px;
    margin-top: 22px;
    font-size: 20px;
}

.input-all-pop-annonces
{
    text-decoration: none;
    color: black;
    margin-right: 25px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
}

.input-all-annonces
{
    text-decoration: none;
    color: black;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
}

.héberg-M-part1
{
    display: flex;
    margin-top: 18px;
    margin-bottom: 7px;
    margin-left: 8px;
    flex-wrap: wrap;
}

.annonce-M-box
{
    border-radius: 20px;
    border: 2px solid white;
    box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.35); 
    box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.35);
    background-color: white;
    height: 192px;
    width: auto;
    flex-wrap: wrap;
}

.annonce-M-image
{
	width: 260px;
	height: 125px;
    border-radius: 20px 20px 0px 0px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 3px;
    object-fit: cover;
}

.annonce-M-text-align
{
    padding-left: 7px;
    padding-top: 4px;
    flex-direction: column;
    justify-content: flex-start;
}

.annonce-M-night-price
{
    padding-top: 2px;
    padding-bottom: 2px;
}

.text-bold
{
    font-weight: bold;
}

.annonce-M-blue-stars
{
    color: #2478ff;
    font-size: 12px;
}

.all-grey-stars
{
    color: #d9d9d9;
    font-size: 12px;
}

.héberg-M-part2
{
    display: flex;
    padding-left: 15px;
}

.see-more-M
{
    margin-left: 38px;
    font-weight: bold;
    font-size: 17px;
}

.bloc-most-popular
{
    border-radius: 22px;
    border: 2px solid #f5f5f5;
    background-color: #f5f5f5;
    margin-left: 35px;
    width: 415px;
    height: 550px;
}

.most-pop-title
{
    font-weight: bold;
    font-size: 20px;
    position: relative;
    margin-top: 18px;
    margin-bottom: 24px;
    margin-left: 40px;
}

.stonk-logo
{
    margin-left: 145px;
}

.most-pop-box
{
    display: flex;
    border: 2px solid white;
    box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.35); 
    box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.35);
    border-radius: 20px;
    background-color: white;
    margin-bottom: 13px;
    height: 135px;
    width: 345px;
    margin-left: 30px;
    text-decoration: none;
}

.most-pop-image
{
	width: 140px;
	height: 130px;
    border-radius: 20px 0px 0px 20px;
    padding-left: 2px;
    padding-top: 2px;
    object-fit: cover;
}

.most-pop-text-align
{
    padding-top: 7px;
    padding-left: 10px;
    flex-direction: column;
}

.most-pop-annonce-title
{
    font-weight: bold;
    margin-bottom: 6px;
}


.most-pop-night-price
{
    font-size: 14px;
    margin-top: 3px;
    margin-bottom: 55px;
}

.most-pop-night-price-mid
{
    margin-bottom: 50px;
}

.most-pop-blue-stars
{
    color: #2478ff;
    font-size: 12px;
}

.case-M-placement-mid
{
    padding-left: 75px;
    padding-right: 65px;
}

.recherche
{
    color: white;
    background-color: #2478ff;
    border: 2px solid #2478ff;
    border-radius: 0px 10px 10px 0px;
}

.searchbarrcomp
{
    display: flex;
}

.floattext
{
   float:left
}

.title-activités-Mar
{
    font-weight: bold;
    font-size: 20px;
    margin-top: 35px;
    margin-bottom: 15px;
    margin-left: 8px;
}

.cadre-vieux-port
{
    flex-direction: column;
    box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.20); 
    box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.20);  
    background-color: white;
    border-radius: 25px 25px 20px 20px;
    width: 324px;
    height: 342px;
}

.image-vieux-port
{
    width: 325px;
    height: 300px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.titre-activité
{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 12px;
    margin-left: 7px;
    margin-top: 8px;
}

.titre-activité-spe
{
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 12px;
    margin-left: 7px;
    margin-top: 8px;
    display: flex;
}

.fort-pomègue
{
    flex-direction: column;
    box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.25); 
    box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.25);
    background-color: white;
    border-radius: 25px 25px 20px 20px;
    width: 299px;
    height: 175px;
}

.image-pomègue
{
    width: 300px;
    height: 135px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.fort-séparation
{
    margin-bottom: 0px;
}

.îles-frioul
{
    flex-direction: column;
    box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.25); 
    box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.25);
    background-color: white;
    border-radius: 25px 25px 20px 20px;
    width: 299px;
    height: 139px;
}

.image-frioul
{
    width: 300px;
    height: 100px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.parc-ali
{
    margin-left:  0px;
    margin-right: 0px;
}

.parc-canalaques
{
    flex-direction: column;
    box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.25); 
    box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.25);
    background-color: white;
    border-radius: 25px 25px 20px 20px;
    width: 324px;
    height: 342px;
}

.image-canalaques
{
    width: 325px;
    height: 302px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.nôtre-dame-modif
{
    margin-bottom: 0px;
}

.nôtre-dame
{
    flex-direction: column;
    box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.25); 
    box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.25);
    background-color: white;
    border-radius: 25px 25px 20px 20px;
    width: 309px;
    height: 155px;
}

.image-nôtre-dame
{
    width: 310px;
    height: 115px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.Longchamp
{
    flex-direction: column;
    box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.25); 
    box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.25);
    background-color: white;
    border-radius: 25px 25px 20px 20px;
    width: 309px;
    height: 160px;
}

.image-Longchamp
{
    width: 310px;
    height: 120px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.all-activity
{
    display: flex;
    padding-bottom: 40px;
}

.îles-fort-column
{
    flex-direction: column;
}

.dame-parc-culumn
{
    flex-direction: column;
}












@media all and (max-width: 1200px)
{

    .first-website-part
    {
        flex-direction: column-reverse;
    }

    .héberg-M-part1
    {
        
        margin-right: 0px;
        margin-bottom: 0px;
    }

    .annonce-M-image
    {
        width: 324px;
    }

    .annonce-M-box
    {
        width: 330px;
    }

    .see-more-M
    {
        
        margin-left: 35px;
        margin-bottom: 15px;
        font-size: 18px;
    }

    .bloc-most-popular
    {
        width: 100%;
        height: 250px;
        margin-bottom: 20px;
        margin-left: 0px;
    }

    .all-annonces-most-pop
    {
        display: flex;  
        height: 30px;
    }

    .stonk-logo
    {
        margin-left: 885px;
    }

    .all-activity
    {
        display: flex;
        flex-wrap: wrap;
    }
    

    .cadre-vieux-port
    {
        flex-direction: column;
        border-bottom: 2px solid #e6e6e6;
        border-left: 2px solid #e6e6e6;
        border-right: 2px solid #e6e6e6;
        background-color: white;
        border-radius: 25px 25px 20px 20px;
        width: 335px;
        height: 192px;
        margin-bottom: 17px;
    }

    .image-vieux-port
    {
        width: 335px;
	    height: 150px;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
    }

    .fort-pomègue
    {
        flex-direction: column;
        border-bottom: 2px solid #e6e6e6;
        border-left: 2px solid #e6e6e6;
        border-right: 2px solid #e6e6e6;
        background-color: white;
        border-radius: 25px 25px 20px 20px;
        width: 335px;
        height: 192px;
        margin-bottom: 17px;
    }

    .fort-séparation
    {
        padding-bottom: 0px;
    }

    .îles-fort-column
    {
        padding-left: 0px;
        display: flex;
        flex-direction: row;
    }

    .image-pomègue
    {
        width: 335px;
	    height: 150px;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
    }

    .îles-frioul
    {
        flex-direction: column;
        border-bottom: 2px solid #e6e6e6;
        border-left: 2px solid #e6e6e6;
        border-right: 2px solid #e6e6e6;
        background-color: white;
        border-radius: 25px 25px 20px 20px;
        width: 335px;
        height: 192px;
        margin-bottom: 17px;
    }

    .image-frioul
    {
        width: 335px;
	    height: 150px;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
    }

    .parc-ali
    {
        padding-left:  0px;
        padding-right: 0px;
    }

    .parc-canalaques
    {
        flex-direction: column;
        border-bottom: 2px solid #e6e6e6;
        border-left: 2px solid #e6e6e6;
        border-right: 2px solid #e6e6e6;
        background-color: white;
        border-radius: 25px 25px 20px 20px;
        width: 335px;
        height: 192px;
        margin-bottom: 17px;
    }

    .image-canalaques
    {
        width: 335px;
	    height: 150px;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
    }

    .nôtre-dame-modif
    {
        padding-bottom: 0px;
    }   

    .nôtre-dame
    {
        flex-direction: column;
        border-bottom: 2px solid #e6e6e6;
        border-left: 2px solid #e6e6e6;
        border-right: 2px solid #e6e6e6;
        background-color: white;
        border-radius: 25px 25px 20px 20px;
        width: 335px;
        height: 192px;
        margin-bottom: 17px;
    }

    .dame-parc-culumn
    {
        display: flex;
        flex-direction: row;
    }
    
    .image-nôtre-dame
    {
        width: 335px;
	    height: 150px;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
    }

    .Longchamp
    {
        flex-direction: column;
        border-bottom: 2px solid #e6e6e6;
        border-left: 2px solid #e6e6e6;
        border-right: 2px solid #e6e6e6;
        background-color: white;
        border-radius: 25px 25px 20px 20px;
        width: 335px;
        height: 192px;
        margin-bottom: 17px;
    }

    .image-Longchamp
    {
        width: 335px;
	    height: 150px;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
    }






}






.cadre-footer
{
    border: #e6e6e6 solid 2px;
    background-color: #e6e6e6;
    padding-bottom: 100px;
    padding-left: 10px;
}

.trie-footer
{
    display: flex;
    margin-left: 230px;
}

.footer-title
{
    font-weight: bold;
    font-size: 18px;
    padding-top: 25px;
}

.catégorie-footer
{
    padding-right: 125px;
}

.écart
{
    margin-top: 9px;
    margin-right: 125px;
}

.nos-hébergement
{
    margin-right: 250px;
}

@media all and (max-width: 1024px)
{
    .search-input-right
    {
        display: none;
    }

    .search-bar
    {
        padding-top: 12px;
        display: flex;
        min-width: 60px;
    }

    .research-bloc-queries
    {
        
    }
    


    .research-logo-queries
    {
        padding-left: 0px;
    }

    .logo-loupe
    {
        border: black;
        border-radius: 15px 15px 15px 15px;
        padding: 12px;
        visibility: initial;
        background-color: blue;
        position: absolute;
        right: 0px;

    }

    .search-text-area
    {
        width: 100%;
        border-radius: 0px 20px 20px 0px;
    }

    .filter-section
    {
        
    }

    .filter-title
    {
        margin-bottom: 15px;
    }

    .catégorie-bloc
    {
        height: 40px;
    }

    .filter-section
    {
        margin-top: 30px;
    }

    .return-ligne-title
    {
        flex-wrap: wrap;
        padding-bottom: 5px;
    }

    .number-logement-text
    {
        margin-left: 0px;
    }

    .logements-retour-l
    {
        display: block;
        padding-left: 25px;
    }

    .retour-ligne-roman-animaux
    {
        display: block;
    }

    .catégorie-bloc
    {
        width: auto;
        flex-wrap: wrap;
    }

    .annonce-M-box
    {
        border-radius: 20px;
        border: 2px solid white;
        box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.30); 
        box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.30);
        background-color: white;
        height: 192px;
        width: 370px;
        margin-bottom: 17px;
        margin-right: 27px;
        margin-left: 28px;
    }   

    .annonce-M-image
    {
        width: 364px;
    }

    .see-more-M
    {
        
        margin-left: 435px;
        font-size: 18px;
    }

    .catégorie-input-padding
    {
        margin-bottom: 25px;
    }

    .first-website-part
    {
        flex-direction: column-reverse;
        display: flex;
    }

    .bloc-hébergement-marseille
    {
        width: 100%;
        height: auto;
        padding-left: 10px;
        margin: auto;
        flex-wrap: wrap;
        border-radius: 0px;
    }

    .title-hébergement-marseille
    {
        margin-left: 360px;
    }

    .héberg-M-part1
    {
        margin-bottom: 0px;
        margin-left: 58px
    }

    .héberg-M-part2
    {
        flex-direction: column;
        padding-left: 25px;
    }

    .case-M-placement-mid
    {
        padding-left: 0px;
        padding-right: 0px;
    }

    .input-all-annonces
    {
        text-decoration: none;
        color: black;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
    }

    .all-annonces-most-pop
    {
        display: flex;
        justify-content: space-around;
    }

    .most-pop-night-price-mid 
    {
        margin-bottom: 35px;
    }

    .bloc-most-popular
    {
        border-radius: 0px;
        width: 100%;
    }

    .most-pop-title
    {
        margin-left: 14px;
        margin-bottom: 10px;
    }

    .stonk-logo
    {
        margin-left: 770px;
    }

    .most-pop-box
    {
        margin-left: 4px;
        margin-right: 7px;
        margin-bottom: 5px;
        margin-top: 20px;
    }

    .all-activity
    {
        flex-direction: column;
        padding-left: 30px;
    }

    .title-activités-Mar
    {
        padding-left: 37px;
        padding-bottom: 20px;
    }

    .cadre-vieux-port
    {
        flex-direction: column;
        border-bottom: 2px solid #e6e6e6;
        border-left: 2px solid #e6e6e6;
        border-right: 2px solid #e6e6e6;
        background-color: white;
        border-radius: 25px 25px 20px 20px;
        width: 370px;
        height: 192px;
        margin-bottom: 17px;
    }

    .image-vieux-port
    {
        width: 370px;
	    height: 150px;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
    }

    .fort-pomègue
    {
        flex-direction: column;
        border-bottom: 2px solid #e6e6e6;
        border-left: 2px solid #e6e6e6;
        border-right: 2px solid #e6e6e6;
        background-color: white;
        border-radius: 25px 25px 20px 20px;
        width: 370px;
        height: 192px;
        margin-bottom: 17px;
    }

    .fort-séparation
    {
        padding-bottom: 0px;
    }

    .îles-fort-column
    {
        padding-left: 0px;
    }

    .image-pomègue
    {
        width: 370px;
	    height: 150px;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
    }

    .îles-frioul
    {
        flex-direction: column;
        border-bottom: 2px solid #e6e6e6;
        border-left: 2px solid #e6e6e6;
        border-right: 2px solid #e6e6e6;
        background-color: white;
        border-radius: 25px 25px 20px 20px;
        width: 370px;
        height: 192px;
        margin-bottom: 17px;
    }

    .image-frioul
    {
        width: 370px;
	    height: 150px;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
    }

    .parc-ali
    {
        padding-left:  0px;
        padding-right: 0px;
    }

    .parc-canalaques
    {
        flex-direction: column;
        border-bottom: 2px solid #e6e6e6;
        border-left: 2px solid #e6e6e6;
        border-right: 2px solid #e6e6e6;
        background-color: white;
        border-radius: 25px 25px 20px 20px;
        width: 370px;
        height: 192px;
        margin-bottom: 17px;
    }

    .image-canalaques
    {
        width: 370px;
	    height: 150px;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
    }

    .nôtre-dame-modif
    {
        padding-bottom: 0px;
    }   

    .nôtre-dame
    {
        flex-direction: column;
        border-bottom: 2px solid #e6e6e6;
        border-left: 2px solid #e6e6e6;
        border-right: 2px solid #e6e6e6;
        background-color: white;
        border-radius: 25px 25px 20px 20px;
        width: 370px;
        height: 192px;
        margin-bottom: 17px;
    }
    
    .image-nôtre-dame
    {
        width: 370px;
	    height: 150px;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
    }

    .Longchamp
    {
        flex-direction: column;
        border-bottom: 2px solid #e6e6e6;
        border-left: 2px solid #e6e6e6;
        border-right: 2px solid #e6e6e6;
        background-color: white;
        border-radius: 25px 25px 20px 20px;
        width: 370px;
        height: 192px;
        margin-bottom: 17px;
    }

    .image-Longchamp
    {
        width: 370px;
	    height: 150px;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
    }

    .cadre-footer
    {
        padding-bottom: 30px;
    }

    .trie-footer
    {
        flex-direction: column;
        margin-left: 30px;
    }

    .catégorie-footer
    {
        flex-direction: column;
    }
}


