@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: auto;
    font-family: 'Raleway', sans-serif;
}

.heberg-activity
{
    display: flex;
}

body
{
    font-family: 'Raleway', sans-serif;
}

.logoreservia
{
    margin-bottom: 30px;
    margin-top: 35px;
    width: 100%;
}

.inscription-input-deco
{
    font-size: 1.2rem;
    text-decoration: none;
    color: #2478ff;
}

.top-menu
{
    display: flex;
}

.hebergement-activites-header
{
    margin-right: 70px;
}

.hebergement-activites-header-ins
{
    margin-right: 10px;
}

.all-top-right-element
{
    display: flex;
}


.activity-hébergement-top
{
    margin-left: 750px;
}



.selected
{
    color: #2478ff;
    border-top: 2px solid #2478ff;
    text-decoration-color: #2478ff;
    padding-top: 44px;
}


.text-decoration-input
{
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
}

.text-decoration-input-heberg
{
    font-size: 1.2rem;
    text-decoration: none;
    color: #2478ff;
}

.list-inscription-categorie
{
    list-style-type: none;
    display: flex;
}

.categorie-input-padding
{
    margin-right: 40px;
}

.textdeco /* :hover border-top: 3px solid blue;*/
{
    text-decoration: none;
}

main
{
    max-width: 1440px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.first-title
{
    font-size: 1.3rem;
    font-weight: bold;
}

.subtitle
{
    margin-top: 8px;
}

.search-bar
{
    padding-top: 12px;
    display: flex;
}

.search-left-marker-logo
{
    border: 2px solid #e6e6e6;
    border-radius: 10px 0px 0px 10px;
    margin-top: 0px;
    background-color: #e6e6e6;
    width: 40px;
    height: 35px;
    display: flex;
}

.search-left-marker-logo i
{
    margin: auto;
    margin-right: 13px;
}

.search-text-area
{
    height: 15px;
    padding: 10px;
    border: 2px solid #e6e6e6;
    border-right: 2px solid #2478ff;
}

.search-input-right
{
    color: white;
    background-color: #2478ff;
    border: 2px solid #2478ff;
    border-radius: 0px 10px 10px 0px;
}

.research-logo-queries
{
    visibility: hidden;
}

.logo-loupe
{
    visibility: hidden;
}

.filter-section
{
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
}

.filter-title
{
    font-weight: bold;
    margin-right: 15px;
}

.categorie-bloc
{
    display: flex;
    font-weight: bold;
}

.filter-visual-effect
{
    text-decoration: none;
    color: black;
}

.grey-border-around-filter:hover
{
    border: 2px solid black;
    background-color: #f2faff;
}

.grey-border-around-filter
{
    border: 2px solid #e6e6e6;
    border-radius: 20px;
    padding-top: 6px;
    padding-bottom: 5px;
    padding-right: 15px;
    block-size: 30px;
}

.blue-logo-filter
{
    color: #2478ff;
}

.circle-around-logo
{
    border: 2px solid #d8eff2;
    border-radius: 50%;
    background-color: #d8eff2;
    padding: 6px;
    margin-bottom: 2px;
    position: relative;
    right: 3px;
}

.family-icon-circle-around
{
    border: 2px solid #d8eff2;
    border-radius: 50%;
    background-color: #d8eff2;
    padding: 6px;
    padding-right: 9px;
    padding-left: 9px;
    position: relative;
    right: 3px;
}

.number-logement-text
{
    padding-bottom: 20px;
}

.blue-info-logo
{
    color: #2478ff;
    border: 1px solid #dee0df;
    font-size: 0.6rem;
    border-radius: 50%;
    padding: 4px;
    padding-right: 8px;
    padding-left: 8px;
}

.first-website-part
{
    display: flex;
}

.bloc-hebergement-marseille
{
    border-radius: 22px;
    border: 2px solid #f5f5f5;
    background-color: #f5f5f5;
    width: auto;
}


.title-hebergement-marseille
{
    font-weight: bold;
    margin-left: 39px;
    margin-top: 22px;
    font-size: 1.3rem;
}

.input-all-pop-annonces
{
    text-decoration: none;
    color: black;
    margin-right: 25px;
    display: flex;
    flex-direction: row;
}

.input-all-annonces
{
    text-decoration: none;
    color: black;
    margin-bottom: 25px;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    height: 200px;
    width: 30%;
    flex-direction: row;
}

.heberg-M-part1
{
    display: flex;
    margin-top: 18px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.annonce-M-box
{
    border-radius: 20px;
    border: 2px solid white;
    box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.35);
    background-color: white;
    width: 267px;
    padding: 5px;
}

.annonce-M-image
{
	height: 125px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    width: 100%;
}

.annonce-M-text-align
{
    margin-left: 7px;
    margin-top: 4px;
    flex-direction: column;
    justify-content: flex-start;
}

.annonce-M-night-price
{
    padding-top: 2px;
    padding-bottom: 2px;
}

.text-bold
{
    font-weight: bold;
}

.annonce-M-blue-stars
{
    color: #2478ff;
    font-size: 0.8rem;
}

.all-grey-stars
{
    color: #d9d9d9;
    font-size: 0.8rem;
}

.héberg-M-part2
{
    display: flex;
    padding-left: 15px;
}

.see-more-M
{
    margin-left: 38px;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 1.2rem;
}

.bloc-most-popular
{
    border-radius: 22px;
    border: 2px solid #f5f5f5;
    background-color: #f5f5f5;
    margin-left: 35px;
    width: 415px;
    height: 550px;
}

.most-pop-title
{
    font-weight: bold;
    font-size: 1.3rem;
    position: relative;
    margin-top: 18px;
    margin-bottom: 24px;
    margin-left: 40px;
    min-width: 200px;
}

.stonk-logo
{
    margin-left: 0px;
    font-size: 20px;
    margin-top: 18px;
    margin-right: 30px;
}

.most-pop-title-box
{
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}



.most-pop-box
{
    display: flex;
    border: 2px solid white;
    box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.35); 
    box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.35);
    border-radius: 20px;
    background-color: white;
    margin-bottom: 13px;
    margin-left: 35px;
    height: 135px;
    width: 345px;
    text-decoration: none;
}

.most-pop-image
{
	width: 140px;
	height: 130px;
    border-radius: 20px 0px 0px 20px;
    margin-left: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    object-fit: cover;
}

.most-pop-text-align
{
    padding-top: 7px;
    padding-left: 10px;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}

.most-pop-annonce-title
{
    font-weight: bold;
    margin-bottom: 6px;
}


.most-pop-night-price
{
    font-size: 0.9rem;
    margin-top: 3px;
    margin-bottom: auto;
}

.most-pop-night-price-mid
{
    margin-bottom: auto;
}

.all-stars-most-pop
{
   display: flex; 
   margin-bottom: 5px;
}

.most-pop-blue-stars
{
    color: #2478ff;
    font-size: 0.8rem;
}

.case-M-placement-mid
{
    padding-left: 75px;
    padding-right: 65px;
}

.recherche
{
    color: white;
    background-color: #2478ff;
    border: 2px solid #2478ff;
    border-radius: 0px 10px 10px 0px;
}

.searchbarrcomp
{
    display: flex;
}

.floattext
{
   float:left
}

.title-activites-Mar
{
    font-weight: bold;
    font-size: 1.4rem;
    margin-top: 35px;
    margin-bottom: 15px;
    margin-left: 8px;
}

.cadre-vieux-port
{
    flex-direction: column;
    box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.20); 
    box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.20);  
    background-color: white;
    border-radius: 25px 25px 20px 20px;
    
    height: 342px;
}

.image-vieux-port
{
    width: 100%;
    height: 300px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.titre-activite
{
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 12px;
    margin-left: 7px;
    margin-top: 8px;
}

.titre-activite-spe
{
    font-weight: bold;
    font-size: 1.2rem;
    padding-bottom: 12px;
    margin-left: 7px;
    margin-top: 8px;
    display: flex;
}

.fort-pomègue
{
    flex-direction: column;
    box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.25); 
    box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.25);
    background-color: white;
    border-radius: 25px 25px 20px 20px;
    height: 155px;
    margin-bottom: 27px;
}

.image-pomègue
{
    width: 100%;
    height: 115px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.fort-separation
{
    margin-bottom: 0px;
}

.îles-frioul
{
    flex-direction: column;
    box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.25); 
    box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.25);
    background-color: white;
    border-radius: 25px 25px 20px 20px;
    height: 160px;
}

.image-frioul
{
    width: 100%;
    height: 120px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.parc-ali
{
    margin-left:  0px;
    margin-right: 0px;
}

.parc-canalaques
{
    flex-direction: column;
    box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.25); 
    box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.25);
    background-color: white;
    border-radius: 25px 25px 20px 20px;
   
    height: 342px;
}

.image-canalaques
{
    width: 100%;
    height: 302px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.nôtre-dame-modif
{
    margin-bottom: 0px;
}

.nôtre-dame
{
    flex-direction: column;
    box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.25); 
    box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.25);
    background-color: white;
    border-radius: 25px 25px 20px 20px;
    height: 155px;
    margin-bottom: 27px;
}

.image-nôtre-dame
{
    width: 100%;
    height: 115px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.Longchamp
{
    flex-direction: column;
    box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.25); 
    box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.25);
    background-color: white;
    border-radius: 25px 25px 20px 20px;

    height: 160px;
}

.image-Longchamp
{
    width: 100%;
    height: 120px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.all-activity
{
    display: flex;
    margin-bottom: 40px;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.activity-ajustement
{
    margin-right: 5px;
    margin-left: 5px;
}

.îles-fort-column
{
    flex-direction: column;
    display: flex;
    width: 23%;
}

.dame-parc-culumn
{
    flex-direction: column;
    display: flex;
    width: 23%;
}

.old-port{
    width: 25%;
}

.parc-ali{
    width: 25%;
}





.cadre-footer
{
    border: #e6e6e6 solid 2px;
    background-color: #e6e6e6;
    padding-bottom: 100px;
    width: auto;
}

.trie-footer
{
    display: flex;
    justify-content: space-around;
    margin-left: 10px;
}

.footer-title
{
    font-weight: bold;
    font-size: 1.2rem;
    padding-top: 25px;
}

.categorie-footer
{
    margin-right: 125px;
}

.ecart
{
    margin-top: 9px;
    margin-right: 125px;
}

.nos-hébergement
{
    margin-right: 250px;
}

.all-activity-annonce
{
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 1372px)
{
    .all-activity
    {
        display: flex;
    }

    .activity-ajustement{
        width: 30%;
        margin-right: 5px;
        margin-left: 5px;
        height: 200px;
        margin-bottom: 15px;
    }

    .cadre-vieux-port
    {
        flex-direction: column;
        border-bottom: 2px solid #e6e6e6;
        border-left: 2px solid #e6e6e6;
        border-right: 2px solid #e6e6e6;
        background-color: white;
        border-radius: 25px 25px 20px 20px;

        height: 192px;
        margin-bottom: 17px;
    }

    .image-vieux-port
    {
        width: 100%;
	    height: 150px;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
    }

    .fort-pomègue
    {
        flex-direction: column;
        border-bottom: 2px solid #e6e6e6;
        border-left: 2px solid #e6e6e6;
        border-right: 2px solid #e6e6e6;
        background-color: white;
        border-radius: 25px 25px 20px 20px;

        height: 192px;
        margin-bottom: 17px;
    }

    .fort-separation
    {
        padding-bottom: 0px;
    }

    .îles-fort-column
    {
        padding-left: 0px;
        display: contents;
    }

    .image-pomègue
    {
        width: 100%;
	    height: 150px;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
    }

    .îles-frioul
    {
        flex-direction: column;
        border-bottom: 2px solid #e6e6e6;
        border-left: 2px solid #e6e6e6;
        border-right: 2px solid #e6e6e6;
        background-color: white;
        border-radius: 25px 25px 20px 20px;

        height: 192px;
        margin-bottom: 17px;
    }

    .image-frioul
    {
        width: 100%;
	    height: 150px;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
    }

    .parc-ali
    {
        padding-left:  0px;
        padding-right: 0px;
    }

    .parc-canalaques
    {
        flex-direction: column;
        border-bottom: 2px solid #e6e6e6;
        border-left: 2px solid #e6e6e6;
        border-right: 2px solid #e6e6e6;
        background-color: white;
        border-radius: 25px 25px 20px 20px;
 
        height: 192px;
        margin-bottom: 17px;
    }

    .image-canalaques
    {
        width: 100%;
	    height: 150px;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
    }

    .nôtre-dame-modif
    {
        padding-bottom: 0px;
    }   

    .nôtre-dame
    {
        flex-direction: column;
        border-bottom: 2px solid #e6e6e6;
        border-left: 2px solid #e6e6e6;
        border-right: 2px solid #e6e6e6;
        background-color: white;
        border-radius: 25px 25px 20px 20px;

        height: 192px;
        margin-bottom: 17px;
    }

    .dame-parc-culumn
    {
        display: flex;
        flex-direction: row;
        display: contents;
    }
    
    .image-nôtre-dame
    {
        width: 100%;
	    height: 150px;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
    }

    .Longchamp
    {
        flex-direction: column;
        border-bottom: 2px solid #e6e6e6;
        border-left: 2px solid #e6e6e6;
        border-right: 2px solid #e6e6e6;
        background-color: white;
        border-radius: 25px 25px 20px 20px;
        height: 192px;
        margin-bottom: 17px;
    }

    .image-Longchamp
    {
        width: 100%;
	    height: 150px;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
    }
}

@media screen and (max-width: 1200px)
{
    .logoreservia
    {
        margin-left: 15px;
    }

    .activity-ajustement{
        width: 30%;
    }

    .first-title
    {
        margin-left: 15px;
    }

    .subtitle
    {
        margin-left: 15px;
    }

    .search-bar
    {
        margin-left: 15px;
    }

    .filter-section
    {
        margin-left: 18px;
    }

    .number-logement-text
    {
        margin-left: 15px;
    }

    .first-website-part
    {
        flex-direction: column-reverse;
    }

    .heberg-M-part1
    {
        
        margin-right: 5px;
        margin-left: 5px;
        margin-bottom: 0px;
    }

    .annonce-M-box
    {
        width: 330px;
    }

    .see-more-M
    {
        
        margin-left: 35px;
        margin-bottom: 15px;
        font-size: 1.2rem;
    }

    .title-activites-Mar
    {
        margin-left: 35px;
    }

    .bloc-most-popular
    {
        width: 100%;
        height: 225px;
        margin-bottom: 20px;
        margin-left: 0px;
    }

    .all-annonces-most-pop
    {
        display: flex;  
        justify-content: space-around;
        margin-left: 0px;
        margin-right: 35px;
        height: 30px;
    }

    .stonk-logo
    {
        margin-left: 0px;
    }

    .all-activity
    {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    

    .cadre-vieux-port
    {
        flex-direction: column;
        border-bottom: 2px solid #e6e6e6;
        border-left: 2px solid #e6e6e6;
        border-right: 2px solid #e6e6e6;
        background-color: white;
        border-radius: 25px 25px 20px 20px;

        height: 192px;
        margin-bottom: 17px;
    }

    .image-vieux-port
    {
        width: 100%;
	    height: 150px;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
    }

    .fort-pomègue
    {
        flex-direction: column;
        border-bottom: 2px solid #e6e6e6;
        border-left: 2px solid #e6e6e6;
        border-right: 2px solid #e6e6e6;
        background-color: white;
        border-radius: 25px 25px 20px 20px;

        height: 192px;
        margin-bottom: 17px;
    }

    .fort-separation
    {
        padding-bottom: 0px;
    }

    .îles-fort-column
    {
        padding-left: 0px;
        display: contents;
    }

    .image-pomègue
    {
        width: 100%;
	    height: 150px;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
    }

    .îles-frioul
    {
        flex-direction: column;
        border-bottom: 2px solid #e6e6e6;
        border-left: 2px solid #e6e6e6;
        border-right: 2px solid #e6e6e6;
        background-color: white;
        border-radius: 25px 25px 20px 20px;
 
        height: 192px;
        margin-bottom: 17px;
    }

    .image-frioul
    {
        width: 100%;
	    height: 150px;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
    }

    .parc-ali
    {
        padding-left:  0px;
        padding-right: 0px;
    }

    .parc-canalaques
    {
        flex-direction: column;
        border-bottom: 2px solid #e6e6e6;
        border-left: 2px solid #e6e6e6;
        border-right: 2px solid #e6e6e6;
        background-color: white;
        border-radius: 25px 25px 20px 20px;

        height: 192px;
        margin-bottom: 17px;
    }

    .image-canalaques
    {
        width: 100%;
	    height: 150px;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
    }

    .nôtre-dame-modif
    {
        padding-bottom: 0px;
    }   

    .nôtre-dame
    {
        flex-direction: column;
        border-bottom: 2px solid #e6e6e6;
        border-left: 2px solid #e6e6e6;
        border-right: 2px solid #e6e6e6;
        background-color: white;
        border-radius: 25px 25px 20px 20px;

        height: 192px;
        margin-bottom: 17px;
    }

    .dame-parc-culumn
    {
        display: flex;
        flex-direction: row;
        display: contents;
    }
    
    .image-nôtre-dame
    {
        width: 100%;
	    height: 150px;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
    }

    .Longchamp
    {
        flex-direction: column;
        border-bottom: 2px solid #e6e6e6;
        border-left: 2px solid #e6e6e6;
        border-right: 2px solid #e6e6e6;
        background-color: white;
        border-radius: 25px 25px 20px 20px;

        height: 192px;
        margin-bottom: 17px;
    }

    .image-Longchamp
    {
        width: 100%;
	    height: 150px;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
    }

    .trie-footer
    {
        margin-left: 55px;
    }

}

@media screen and (max-width: 1024px)
{

    .activity-ajustement{
        width: 45%;
    }

    .research-logo-queries
    {
        padding-left: 0px;
    }


    .search-text-area
    {
        width: 100%;
        border-radius: 0px 0px 0px 0px;
    }

    .number-logement-text
    {
        margin-top: 35px;
    }

    .search-left-marker-logo
    {
        width: 47px;
    }

    .filter-section
    {
        margin-bottom: 0px;
    }

    .categorie-bloc
    {
        height: 40px;
    }

    .filter-section
    {
        margin-top: 30px;
    }

    .retour-ligne-roman-animaux
    {
        display: block;
    }

    .categorie-bloc
    {
        width: auto;
        flex-wrap: wrap;
    }

    .annonce-M-box
    {
        border-radius: 20px;
        border: 2px solid white;
        box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.30); 
        box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.30);
        background-color: white;
        height: 192px;
        width: 430px;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 17px;
    }   


    .see-more-M
    {
        text-align: center;
        margin-right: 30px;
        margin-bottom: 20px;
        font-size: 1.2rem;
    }

    .categorie-input-padding
    {
        margin-bottom: 25px;
    }

    .first-website-part
    {
        flex-direction: column-reverse;
        display: flex;
    }

    .bloc-hebergement-marseille
    {
        width: 100%;
        height: auto;
        margin: auto;
        flex-wrap: wrap;
        border-radius: 0px;
    }

    .title-hebergement-marseille
    {
        text-align: center;
        margin-right: 30px;
    }

    .heberg-M-part1
    {
        margin-bottom: 0px;
    }

    .héberg-M-part2
    {
        flex-direction: column;
        padding-left: 25px;
    }

    .case-M-placement-mid
    {
        padding-left: 0px;
        padding-right: 0px;
    }

    .input-all-annonces
    {
        text-decoration: none;
        color: black;
        margin-left: 0px;
        margin-right: 0px;
        width: 50%;
    }

    .all-annonces-most-pop
    {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        margin-top: 215px;
    }

    .most-pop-image
    {
        width: 395px;
    }

    .most-pop-night-price
    {
        margin-bottom: auto;
    }

    .most-pop-night-price-mid 
    {
        margin-bottom: auto;
    }

    .bloc-most-popular
    {
        border-radius: 0px;
        height: 550px;
        width: 100%;
    }

    .most-pop-title
    {
        margin-left: 14px;
        margin-bottom: 10px;
    }

    .stonk-logo
    {
        margin-left: 0px;
    }

    .most-pop-box
    {
        margin-left: 15px;
        margin-right: 7px;
        margin-bottom: 5px;
        margin-top: 20px;
        width: 100%;
    }

    .all-activity
    {
        flex-wrap: wrap;
        display: flex;
        justify-content: space-around;
    }

    .title-activites-Mar
    {
        text-align: center;
        margin-right: 30px;
        margin-bottom: 20px;
    }

    .îles-fort-column
    {
        flex-direction: row;
    }

    

    .cadre-footer
    {
        margin-left: 0px;
    }

    .a-propos-footer
    {
        margin-left: 100px;
    }

    .categorie-footer{
        margin-right: 30px;
    }

}
    @media screen and (max-width: 768px)
    {
        .activity-ajustement{
            width: 95%;
        }

        .logoreservia{
            position: absolute;
            top: 0;
            left: 0;
        }

        .hebergement-activites-header-ins{
            position: absolute;
            top: 3em;
            right: 0;
        } 

        .heberg-activity{
            margin-top: 120px;
            margin-bottom: 30px;
            width: 100%;
            align-items: center;
        }

        .text-decoration-input{
            width: 50%;
            border-bottom: 2px solid grey;
        }

        .text-decoration-input-heberg{
            width: 50%;
            border-top: transparent;
            border-bottom: 2px solid gray;
        }

        .search-left-marker-logo
        {
            width: 50px;
        }

        .filter-section
        {
            margin-bottom: 50px;
        }

        .bloc-most-popular
        {
            height: 550px;
        }

        .most-pop-title
        {
            margin-bottom: 0px;
        }

        .all-annonces-most-pop
        {
            flex-direction: column;
            margin-top: 225px;
        }

        .most-pop-box
        {
            margin-top: 10px;
        }

        .most-pop-image
        {
            width: 175px;
        }

        .most-pop-night-price
        {
            margin-bottom: auto;
        }

        .most-pop-night-price-mid
        {
            margin-bottom: 5px;
        }


        .input-all-annonces
        {
            width: 100%;
        }

        .annonce-M-box
        {
            width: 100%;
        }


        .title-hebergement-marseille
        {
            text-align: center;
            margin-right: 30px;
        }

        .heberg-M-part1
        {
            align-items: center;
        }
       
        
        .annonce-M-text-align
        {
            text-align: center;
            margin-right: 10px;
        }

        .see-more-M
        {
            text-align: center;
            margin-right: 30px;
            margin-top: 10px;
        }

        .ecart
        {
            margin-right: 0px;
        }

        

        .trie-footer
        {
            flex-direction: column;
            margin-left: 0px;
        }

        .a-propos-footer
        {
            margin-left: 0px;
        }
    }

    @media screen and (max-width: 536px)
    {
        .categorie-bloc
        {
            margin-bottom: 40px;
        }
    }

    @media screen and (max-width: 480px)
    {
        
        .filter-section
        {
            margin-bottom: 45px;
            flex-direction: column;
        }

        .filter-title
        {
            margin-bottom: 20px;
        }
    
        .all-annonces-most-pop
        {
            flex-direction: column;
        }

        .search-left-marker-logo
        {
            width: 40px;
            height: 40px;
            margin-left: 5px;
        }

        .search-input-right
        {
            display: none;
        }

        .search-bar
        {
            margin-top: 10px;
            margin-left: 10px;
            margin-right: 10px;
            display: flex;
            min-width: 60px;
        }

        .research-logo-queries
        {
            padding-left: 0px;
        }

        .logo-loupe
        {
            border: black;
            color: white;
            border-radius: 15px 15px 15px 15px;
            padding: 14px;
            visibility: initial;
            background-color: #2478ff;
            position: absolute;
            right: 0px;
            margin-right: 10px;
        }

        .search-text-area
        {
            width: 85%;
            height: 20px;
            border-radius: 0px 20px 20px 0px;
        }

        .most-pop-box 
        {
            width: 100%;
        }

        .most-pop-image
        {
            width: 100px;
        }
        
        .title-hebergement-marseille
        {
            text-align: center;

        }

        .see-more-M
        {
            text-align: center;
        }

        .annonce-M-box
        {
            width: 380px;
            margin-left: 0px;
        }

        .trie-footer
        {
           margin-left: 40px;
        }
    }

    @media screen and (max-width: 395px)
    {
        .filter-section
        {
            margin-bottom: 85px;
        }
    }

    